body,h1,h2,h3,h4,h5,h6 {
	font-family: "Lato", sans-serif
}

.w3-bar,h1,button {
	font-family: "Montserrat", sans-serif
}

.fa-anchor,.fa-coffee {
	font-size:200px
}

#school{
	padding-top: 5em;
}

#assignment{
	padding-top: 5em;
}

#Summary{
	padding-top: 5em;
}

#about{
	padding-top: 5em;
}

#progress img{
	width:7em;
	height:auto;
	display: inline-block;
	text-align: center;

}
.button1 {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50; /* red */
}
body {
        margin: 0;
  overflow: hidden;
    }
    #myCanvas {
        display: block;
    }

.games1 {
        font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
        position: absolute;
        font-size: 1.5em;
        text-transform: uppercase;
        padding: 7px 20px;
        left: 50%;
        width: 200px;
        margin-left: -100px;
        top: 50%;
        border-radius: 10px;
        color: white;
        text-shadow: -1px -1px 1px rgba(0,0,0,0.8);
        border: 5px solid transparent;
        border-bottom-color: rgba(0,0,0,0.35);
        background: hsla(120, 100%, 50%,0.3);
        cursor: pointer;
    outline: 0 !important;

        animation: pulse 1s infinite alternate;
        transition: background 0.4s, border 0.2s, margin 0.2s;
    }
    .games1:hover {
        background: hsla(220, 100%, 60%, 1);
        margin-top: -1px;

        animation: none;
    }
    .games1:active {
        border-bottom-width: 0;
        margin-top: 5px;
    }
    @keyframes pulse {
        0% {
            margin-top: 0px;
        }
        100% {
            margin-top: 6px; 
        } 
    }
Resources
